albumentations==0.4.5
geomloss==0.2.3
matplotlib==3.0.3
ninja==1.9.0.post1
numpy==1.19.0
opencv-python==4.1.1.26
pandas==0.24.2
Pillow==6.0.0
POT==0.6.0
protobuf==3.7.1
ptyprocess==0.6.0
pykeops==1.2
scikit-image==0.16.2
scikit-learn==0.21.0
scipy==1.2.1
tensorboard==2.1.1
tk==0.1.0
torch==1.5.1
torch-cluster==1.5.8
torchfile==0.1.0
torchvision==0.6.1
